@media only screen and (max-width: 700px) {
    #center-logo {
        width: 230px !important;
        height: 230px !important;
    }
    #center-link {
        font-size: 20px;
    }
    .open-logo {
        opacity: 0 !important;
        left: 50% !important;
        top: 11% !important;
        transform: translate(-50%, -11%) !important;
        z-index: -11 !important;
    }

    #logo-center {
        margin-top: 15px;
    }



    .content {
        left: 50% !important;
        top: 30% !important;
        transform: translate(-50%, -30%) !important;
        width: 350px;
        height: 600px;
        background-image: url("../../assets/images/content.png");
    }
    .visible {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
    .content-in {
        width: 90% !important;
        height: 95% !important;
        line-height: 16px !important;
        font-size: 13px !important;
        display: flex !important;
        flex-direction: column !important;
    }


    .p-no-br br {
        display: none !important;
    }

    
    .no-br {
        display: none !important;
    }



    .content-in > img {
        width: 80px !important;
        height: 80px !important;
        display: flex !important;
        float: left !important;
        left: 50% !important;
        top: 10px !important;
        transform: translate(-50%, 0) !important;
        position: relative !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;

    }







    #imprezy > .content-in > img {
        margin-top: 5px !important;
    }

    #kontakt > .content-in > img {
        margin-top: 5px !important;
    }

    #inne > .content-in > img {
        margin-top: 5px !important;
    }

    #stypy > .content-in > img {
        margin-top: 5px !important;
    }

    #galeria > .content-in > img {
        margin-top: 5px !important;
    }

    #ciasta > .content-in > img {
        margin-top: 5px !important;
    }

    #ciastka > .content-in > img {
        margin-top: 5px !important;
    }

    #oferta > .content-in > img {
        margin-top: 5px !important;
    }

    #slodycze > .content-in > img {
        margin-top: 5px !important;
    }

    #torty > .content-in > img {
        margin-top: 5px !important;
    }

    #osiagniecia > .content-in > img {
        margin-top: 5px !important;
    }














    .gallery {
        display: none !important;
    }
    .gallery2 {
        left: 50% !important;
        top: 92% !important;
        transform: translate(-50%, -92%) !important;
        position: absolute !important;
        background-color: #000 !important;
        text-align: center !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-content: center !important;
        border-radius: 20px !important;
        width: 190px !important;
        height: 280px !important;
    }

    .gallery-row {
        padding-left: 10px !important;
        width: 180px !important;
        height: 80px !important;
        background-color: transparent !important;
    }
    .gallery-row:nth-child(2) {
        margin-bottom: 10px !important;
    }

    .images > img {
        width: 80px !important;
        height: 80px !important;
    }

    .images-top {
        width: 80px !important;
        height: 80px !important;
    }















    iframe {
        width: 95% !important;
        height: 160px;
        margin-top: 0px !important;
    }


























    #header-cz2 {
        display: none !important;
    }


    #header-cz3 {
        display: block;
        position: relative;
        top: 0;
        right: 15px;
        margin-left: 0;
        margin-top: -5px;
        width: 45px;
        height: 45px;
        z-index: 100 !important;
    }



    #menu-items {
        display: none;
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0.9) !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        position: fixed !important;
        z-index: 70 !important;
    }



    #menu-items ol {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        position: fixed !important;
        backdrop-filter: blur(0) !important;
        list-style-type: none !important;
        z-index: 71 !important;
        display: flex !important;
        flex-direction: column !important;
        margin-top: -120px;
    }






















    #toggle {
        display: block;
        position: absolute;
        top: 0;
        right: -2.5px;
        width: 50px;
        height: 50px;
        z-index: 120;
        margin: 0 !important;
        opacity: 0;
    }

    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        margin-top: 0;
        width: 45px;
        height: 45px;
        z-index: 100;
    }

    .hamburger div {
        position: relative;
        width: 45px;
        height: 6px;
        border-radius: 3px;
        background-color: #fff;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
        z-index: 100;
    }

    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }

    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }







    .menu-items-visible {
        display: block !important;
    }









    #foother p {
        margin: 12px 12px;
        font-size: 8px;
    }


}

.active {
    color: #ffd700 !important;
    background-color: transparent !important; 
}

ol > li:hover {
    color: #ffd700 !important;
    background-color: transparent !important;
}